<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>VideoCall</title>
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-image: url("wallpaper.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
      }

      #vgrid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        padding: 10px;
      }

      video {
        width: calc(100% - 20px);
        max-width: 300px;
        height: 300px;
        object-fit: cover;
        border-style: solid;
        border-color: white;
        border-width: 5px;
        margin: 10px;
        transform: scaleX(-1);
      }

      @media screen and (max-width: 600px) {
        video {
          width: calc(100% - 20px);
        }
      }
    </style>
  </head>

  <body>
    <div id="vgrid"></div>
  </body>
</html>
