body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

#vgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  padding: 10px;
}

video {
  width: calc(90% - 20px);
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-style: double;
  border-color: white;
  border-width: 10px;
  margin: 10px;
  transform: scaleX(-1);
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-buttons {
  text-align: center;
}

.modal-buttons button {
  margin: 5px;
}

/* When the modal is closed, hide it */
.modal.closed {
  display: none;
}


@media screen and (max-width: 600px) {
  video {
    width: calc(100% - 20px);
  }
}